@model Lorena.Models.Entity.Produit

@{
    ViewBag.Title = "Produit";
}

<div style="margin:20px">
    <div style="text-align:center">


        <h4>@Html.DisplayFor(model => model.Libelle)</h4>
        <hr />

        @if (!Model.ImageURL.IsEmpty())
        {
            <div style="height:200px;margin:10px">
                <img src="@Model.ImageURL" runat="server" style="max-width:400px;width:100%" />
            </div>
        }

        <div style="margin:1px"> 
            <p>@Html.DisplayFor(m => m.Description)</p>
            <hr />
            <dl class="dl-horizontal">

                @if (Model.EnVente)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.Prix)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Prix)
                    </dd>
                }
                
                @if (User.IsInRole("admin") || User.IsInRole("masseuse"))
                {
                    <dt>@Html.DisplayNameFor(model => model.EnVente)</dt>
                    <dd>@Html.DisplayFor(model => model.EnVente)</dd>
                }

            </dl>
        </div>
    </div>

    @if (User.IsInRole("admin"))
    {
        <p>@Html.ActionLink("Modifier", "Modifier", new { id = Model.Id })</p>
    }

    @if (User.IsInRole("cliente"))
    {

        string message = "alert('" + Model.Libelle + " a bien été rajouté au panier');";

        message = message.Replace("'", "\'");
        message = message.Replace("\"", "\\\"");

    <p>@Ajax.ActionLink(
    "Ajouter au panier",
    "Ajouterpanier",
    new { id = Model.Id },
    new AjaxOptions()
    {
        OnSuccess = message
    })
    </p>
    }
</div>